.container {
  display: flex;
  margin: 1.5em 0;
}

.avatar {
  margin-right: 1em;
}

.detailContainer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75em;
  font-weight: 400;
}

.name {
  font-size: 1em;
  font-weight: 500;
}
