@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.mainContent {
  margin-top: 40px;

  &.inTestnet {
    margin-top: 90px;
  }
}

@include media-breakpoint-only(xs) {
  .mainContent {
    margin-top: 80px;

    &.inTestnet {
      margin-top: 130px;
    }
  }
}
