@import '~node_modules/bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.bannerContainer {
  margin-top: 8em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5em;
}

.bodyContainer {
  margin-bottom: 10em;
}

.subHeading {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  color: #777e90;
  text-transform: uppercase;
}

.mainHeading {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}

.nftImage {
  padding: 0 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nftImageInternal {
  border: 2px solid #e6e8ec;
}

.outerContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.container {
  width: 400px;
  align-items: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.containerInternal {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-only(md) {
  .bannerContainer {
    margin-bottom: 0;
  }

  .outerContainer {
    margin-top: 1em;
  }

  .container {
    width: 500px;
  }

  .title {
    width: auto;
  }

  .nftImage {
    padding: 5em;
  }
}

@include media-breakpoint-only(xs) {
  .container {
    width: 100%;
  }

  .nftImage {
    padding: 0.5em;
  }

  .bannerContainer {
    padding-top: 1em;
  }
}

.title {
  font-size: 2em;
  font-weight: 700;
  width: 300px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
