.navbarArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
}

.warningContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f2634f;
  color: #ffffff;
  font-size: 1.2em;
  height: 40px;
}

.navbarInTestnet {
  top: 40px;
}
